@import './breakpoints';

:root {
  --primary-color: #111111;
  --primary-fade-color: #555555;
  
  --secondary-color: #fefefe;
  --secondary-fade-color: #cccccc;

  --action-color: #3b88ca;
  --action-hover-color: #085597;

  --success-color: #6aca6a;
  --success-hover-color: #379737;

  --info-color: #6acfed;
  --info-hover-color: #379cba;

  --warning-color: #f6b558;
  --warning-hover-color: #c38225;

  --danger-color: #e5615d;
  --danger-hover-color: #b22e2A;
  
  --standard-transition: 0.2s linear;

  --content-width: 90%;
  --content-space: 5%;
}