.u--container {
  width: 90%;
  margin: auto;
}

.u--fullscreen {
  position: fixed;
  height: 100%;
  width: 100%;
}

.u--viewport-width {
  position: relative;
  width: 100vw;
}

.u--viewport-height {
  position: relative;
  height: 100vh;
}
