body.u--autostyle {
  @apply --default-typo;
}

.u--autostyle br,
.br {
  @apply --default-typo;
}

.u--autostyle hr,
.hr {
  height: 1px;
  margin: 8px 0 24px 0;
  background-color: var(--action-color);
}

.u--autostyle strong,
.strong {
  font-weight: 600;
}

.u--autostyle a,
.a {
  @apply --default-typo;
  color: var(--action-color);
}
.u--autostyle a:hover,
.a:hover {
  color: var(--action-hover-color);
}

.u--autostyle h1,
.h1 {
  @apply --default-typo;
  @apply --default-margin;
  font-size: 32px;
  line-height: 64px;
}

.u--autostyle h2,
.h2 {
  @apply --default-typo;
  @apply --default-margin;
  font-size: 28px;
  line-height: 32px;
}

.u--autostyle h3,
.h3 {
  @apply --default-typo;
  @apply --default-margin;
  font-size: 24px;
  line-height: 32px;
}

.u--autostyle h4,
.h4 {
  @apply --default-typo;
  @apply --default-margin;
  font-size: 20px;
  line-height: 32px;
}

.u--autostyle h5,
.h5 {
  @apply --default-typo;
  @apply --default-margin;
  font-size: 16px;
  line-height: 32px;
}

.u--autostyle h6,
.h6 {
  @apply --default-typo;
  @apply --default-margin;
  font-size: 14px;
  font-weight: 600;
}

.u--autostyle p,
.p {
  @apply --default-typo;
  @apply --default-margin;
}

.u--autostyle ul,
.ul {
  @apply --default-typo;
  @apply --default-margin;
}

.u--autostyle li,
.li {
  @apply --default-typo;
}

.u--autostyle label,
.label {
  @apply --default-typo;
  @apply --default-margin;
}
